@font-face {
    font-family: 'Minecraft';    
    src: url('assets/Minecraft.ttf')  format('truetype'); 
  }

body{
    margin: 0;
}

#score{
    font-family: "Minecraft";
    font-size: 30px;
    padding: 30px;
}